header {
  margin: 5em 0em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #foto {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 2em;
}

header #foto img {
  width: 15em;
  border-radius: 5em;
  -webkit-box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 8px -4px rgba(0, 0, 0, 0.75);
}

nav {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2em;
  background-color: #000;
}

nav a {
  margin: 0em 1em;
  text-decoration: none;
  color: #fff;
}

main #estudios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
}

main #estudios .estudios-header {
  grid-column: 3 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #estudios .estudios-header i {
  font-size: 2em;
  margin: 0 1.5rem 0 1rem;
}

main #estudios .estudios-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

main #estudios .estudios-content .estudio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 60%;
      grid-template-columns: 20% 20% 60%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #estudios .estudios-content .estudio .descripcion {
  -ms-grid-column-align: start;
      justify-self: start;
}

main #estudios .estudios-content .estudio .descripcion h3 {
  font-size: 1.5rem;
}

main #estudios .estudios-content .separator {
  width: 100%;
  height: 2px;
  background-color: lightgrey;
}

@media screen and (max-width: 992px) {
  main #estudios {
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
  }
}

@media screen and (max-width: 768px) {
  main #estudios {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  main #estudios .estudios-content {
    grid-column: 1/-1;
  }
  main #estudios .estudios-content .estudio {
    -ms-grid-columns: 25% 75%;
        grid-template-columns: 25% 75%;
        grid-template-areas: "fecha info" "logo info";
  }
  main #estudios .estudios-content .estudio h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: fecha;
  }
  main #estudios .estudios-content .estudio img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  main #estudios .estudios-content .estudio .descripcion {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: info;
  }
}

@media screen and (max-width: 600px) {
  main #estudios .estudios-content .estudio {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "fecha logo" "info info";
  }
  main #estudios .estudios-content .estudio h2 {
    -ms-grid-column-align: end;
        justify-self: end;
  }
  main #estudios .estudios-content .estudio .descripcion {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
}

main #trabajos .trabajos-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #trabajos .trabajos-header i {
  font-size: 2em;
  margin: 0 1.5rem 0 1rem;
}

main #skills .skills-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #skills .skills-header i {
  font-size: 2em;
  margin: 0 1.5rem 0 1rem;
}

footer {
  background-color: black;
}

footer #icons .social {
  font-size: 2em;
  margin: 1em;
  color: #fff;
}

footer #icons #telegram {
  font-size: 1.8em;
  background-color: #fff;
  color: #000;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0.1em;
}

.correcto, .error {
  width: 200px;
  height: 200px;
}

.correcto {
  background-color: green;
}

.error {
  background-color: red;
}
/*# sourceMappingURL=main.css.map */