@import "components/const";
@import "components/mixings";



header{
    margin: 5em 0em ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    #foto{
        justify-self: end;
        margin-right: 2em;
        img{
            width: 15em; 
            border-radius: 5em;
            @include sombreado;
        }
    }
}

nav{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    background-color: map-get($colores, black);
    a{
        margin: 0em 1em;
        text-decoration: none;
        color: map-get($colores, white);
    }
}


main{
    #estudios{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        .estudios-header{
            grid-column:  3 span;
            @include encabezados;
        }
        .estudios-content{
            grid-column: 2/3;
            .estudio{
                display: grid;
                grid-template-columns: 20% 20% 60%;
                justify-items: center;
                align-items: center;
                .descripcion{
                    justify-self: start;
                    h3{
                        font-size: 1.5rem;
                    }
                }
            }
            .separator{
                width: 100%;
                height: 2px;
                background-color: lightgrey;
            }        
        }
        @media screen and (max-width: $Large){
            grid-template-columns: 2fr;
        }
        @media screen and (max-width: $Mediun){
            grid-template-columns: 100%;
            .estudios-content{
                grid-column: 1/-1;
                .estudio{
                    grid-template-columns: 25% 75%;
                    grid-template-areas: 
                    "fecha info"
                    "logo info";
                    h2{
                        grid-area: fecha;
                    }
                    img{
                        grid-area: logo;
                    }
                    .descripcion{
                        grid-area: info;
                    }
                }
            }
        }
        @media screen and (max-width: $Small){
            .estudios-content{
                .estudio{
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: 
                    "fecha logo"
                    "info info";
                    h2{
                        justify-self: end;
                    }
                    .descripcion{
                        justify-self: center;
                        text-align: center;
                    }
                }
            }
        }
    }

    #trabajos{
        .trabajos-header{
            @include encabezados;
        }
    }

    #skills{
        .skills-header{
            @include encabezados;
        }
    }
}



footer{
    background-color: black;
    #icons{
        .social{
            font-size: 2em;
            margin: 1em;
            color: map-get($colores, white);
        }
        #telegram{
            font-size: 1.8em;
            background-color: map-get($colores, white);
            color: map-get($colores, black);
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 0.1em;
        }
    }
}



%mibotonBase{
    width: 200px;
    height: 200px;
}

.correcto{
    @extend %mibotonBase;
    background-color: green;
}

.error{
    @extend %mibotonBase;
    background-color: red;
}






